.footer {
  padding: 2.875rem 4.375rem 2rem;

  background-color: var(--black);
}

.footer__row-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__logo {
  width: 80px;
  height: 80px;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin: 0 96px 0 0;
  padding: 0;

  list-style-type: none;
}

.footer__nav-item a {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 120%;
  color: var(--white);

  text-decoration: none;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.25rem;
}

.footer__contacts a {
  font-family: "Helvetica Neue";
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 120%;
  color: var(--white);

  text-decoration: none;
  font-style: normal;
}

.footer__divider {
  margin: 60px 0 30px;
  color: var(--dark-gray);
}

.footer__row-bottom {
  display: flex;
  justify-content: center;
}

.footer__row-bottom a {
  font-size: 0.75rem;
  text-align: center;
  color: var(--white);

  text-decoration: none;
}

.footer__nav-item a,
.footer__contacts a,
.footer__row-bottom a {
  transition: color 200ms ease-out;
}

.footer__nav-item a:hover,
.footer__contacts a:hover,
.footer__row-bottom a:hover {
  color: var(--light-blue);
}

.footer__row-mobile {
  display: contents;
}

@media (max-width: 1439px) {
  .footer {
    padding: 3.125rem 1.875rem 2rem;
  }
  .footer__nav-list {
    flex-direction: row;
    gap: 1.875rem;
    margin: 0;
  }
  .footer__nav-item a {
    font-size: 1rem;
  }
  .footer__contacts a {
    font-size: 1.5rem;
  }
  .footer__contacts {
    gap: 0.625rem;
  }
  .footer__row-top {
    flex-direction: column;
    align-items: flex-end;
  }
  .footer__row-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .footer__divider {
    margin: 50px 0 30px;
  }
}

@media (max-width: 1023px) {
  .footer {
    padding: 1.25rem 1rem 1.5rem;
  }
  .footer__row-mobile {
    display: contents;
  }
  .footer__nav-list {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .footer__row-top {
    align-items: center;
    gap: 2.5rem;
  }
  .footer__contacts {
    align-items: center;
  }
  .footer__contacts a {
    font-size: 1rem;
  }
  .footer__divider {
    margin: 20px 0 20px;
  }
  .footer__logo {
    width: 60px;
    height: 60px;
  }
}
