.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 53px;
}

.header__nav-list {
  display: flex;
  gap: 1.875rem;
  margin: 0 0 0 146px;
  padding: 0;

  list-style-type: none;
}

.header__nav-item a,
.header__contacts a {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--black);
  cursor: pointer;
  transition: color 200ms ease-out;

  font-style: normal;
  text-decoration: none;
}

.header__nav-item a:hover,
.header__contacts a:hover {
  color: var(--light-blue);
}
