.section--hero {
  align-items: unset;
  gap: 3.75rem;
}

.hero__row {
  position: relative;
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.hero__subtitle-text {
  width: fit-content;
}

.hero__subtitle-text span {
  display: block;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 120%;
}

.hero__title {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 6rem;
  font-weight: 400;
}

.hero__image img {
  position: relative;
  width: 100%;
  height: 550px;

  object-fit: cover;
  object-position: 50% 40%;
}

.hero__image::before {
  position: absolute;
  z-index: 2;
  background: var(--hero-img-bg);
  content: "";

  inset: 0;
  pointer-events: none;
}

.hero__image::after {
  position: absolute;
  z-index: 3;
  background: linear-gradient(to top, var(--hero-img-gradient));
  opacity: 20%;
  content: "";

  inset: 0;
  pointer-events: none;
}
