:root {
  --white: #ffffff;
  --black: #000000;

  --dark-gray: #4f4f4f;
  --light-gray: #cacaca;
  --lighter-gray: #f1f1f1;

  --dark-blue: #004896;
  --light-blue: #619ce9;

  --advantages-list-type: #d9d9d9;
  --advantages-list-line: #cacaca;

  --hero-img-bg: hsla(214, 100%, 50%, 0.529);
  --hero-img-gradient: rgba(14, 65, 176, 0.32) 32%, rgba(0, 72, 150, 1) 100%;

  --marquee-bg: #e8f3fc;
  --html-bg: #fbf9f5;
  --mobile-menu-bg: #fbf9f5;
}
