* {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;

  box-sizing: border-box;
}

html {
  margin-top: 20px;

  scroll-behavior: smooth;
  scroll-padding: 60px;
  background-color: var(--html-bg);
}

.header,
section {
  padding-inline: 70px;
}
.header,
section,
.footer__inner {
  max-width: 1440px;

  margin-inline: auto;
}
.section--partners {
  max-width: unset;
  margin: 0;
  padding: 0;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1439px) {
  .header,
  section {
    padding-inline: 30px !important;
  }
  .section--partners {
    padding: 0 !important;
  }
}

@media (max-width: 1023px) {
  .header,
  section {
    padding-inline: 15px !important;
  }
  .section--partners {
    padding: 0 !important;
  }
}

/**
  * Reusable Components 
  */

.section__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.section__heading__title span {
  display: block;
  font-family: "Helvetica Neue";
  font-size: 3.5rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.badge {
  width: fit-content;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  color: var(--light-gray);

  font-style: normal;
}

.cta {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 217px;
  height: 217px;

  text-decoration: none;
}

.cta-mobile {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  border: none;

  background-color: var(--light-blue);
  padding-block: 1.125rem;
}

.cta-mobile img {
  width: 16px;
  height: 16px;
}

.cta::before {
  position: absolute;
  animation: rotate 20s linear infinite;
  content: "";

  inset: 0;
  background-image: url("../assets/star.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform-origin: center;
  animation-play-state: running;
}

.cta:hover::before {
  animation-play-state: paused;
}

.cta span {
  position: relative;
  z-index: 5;
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  color: var(--white);

  font-style: normal;
}

.cta span:first-child {
  margin-top: 8px;
}

/**
  * Animations 
  */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1439px) {
  .section__heading__title span {
    font-size: 2.25rem !important;
  }
  .section__heading {
    gap: 1.25rem !important;
  }
}

@media (max-width: 1023px) {
  .section__heading__title {
    width: 100%;
  }
  .section__heading__title span {
    font-size: 1.125rem !important;
    text-align: left;
  }
  .section__heading {
    align-items: flex-start;
    gap: 0.625rem !important;
    width: 100%;
  }
  .cta {
    display: none;
  }
  .cta-mobile {
    display: flex;
  }
  .badge {
    font-size: 0.75rem;
  }
}
