* {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;

  box-sizing: border-box;
}

html {
  margin-top: 23px;

  scroll-behavior: smooth;
  scroll-padding: 60px;
}

.header,
section {
  padding-inline: 70px;
}
.header,
section,
.footer__inner {
  max-width: 1440px;

  margin-inline: auto;
}
.section--partners {
  max-width: unset;
  margin: 0;
  padding: 0;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**
  * Reusable Components 
  */

.section__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.section__heading__title span {
  display: block;
  font-family: "Helvetica Neue";
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
}

.badge {
  width: fit-content;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  color: var(--light-gray);

  font-style: normal;
}

.cta {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 217px;
  height: 217px;
}
.cta::before {
  position: absolute;
  animation: rotate 20s linear infinite;
  content: "";

  inset: 0;
  background-image: url("../assets/star.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform-origin: center;
  animation-play-state: running;
}

.cta:hover::before {
  animation-play-state: paused;
}

.cta a {
  position: relative;
  z-index: 1;
  margin-top: 8px;

  text-decoration: none;
}
.cta a span {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  color: var(--white);

  font-style: normal;
}

/**
  * Animations 
  */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
